body{
  font-family: Roboto, sans-serif;
}

#gameMode {
  width: 100px;
  height: 100px;
}

.default-mode {
  background-color: lightyellow;
}

.easy-mode {
  background-color: aquamarine;
}

.hard-mode {
  background-color: lightcoral;
}